.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
a {
    text-decoration: none;
}
.header {
  padding: 0.8854vw 1.0417vw 1.0417vw;
  background-color: #d6dbdf;
  height: 5.5729vw;
}
.space-x-132 > *:not(:first-child) {
  margin-left: 6.875vw;
}
.image {
  width: 10.4167vw;
  height: 3.5417vw;
}
.section {
  margin-left: 0.7292vw;
  margin-top: 1.0417vw;
  background-color: #313e48;
  width: 0.1563vw;
  height: 2.6042vw;
}
.font_1 {
  font-size: 1.5625vw;
  font-family: OpenSansRoman;
  line-height: 1.1198vw;
  font-weight: 700;
  color: #000000;
}
.text_2 {
  margin-left: 1.1458vw;
  margin-top: 1.4583vw;
  color: #313e48;
  line-height: 1.4844vw;
}
.image_2 {
  width: 3.125vw;
  height: 3.125vw;
}
.group {
  margin-right: 0.9375vw;
}
.space-x-25 > *:not(:first-child) {
  margin-left: 1.3021vw;
}
.image_3 {
  width: 2.6042vw;
  height: 2.6042vw;
}
.text {
  color: #000000;
  font-size: 1.3021vw;
  font-family: OpenSansRoman;
  font-weight: 700;
  line-height: 1.25vw;
}
.group_2 {
  overflow-y: auto;
}
.image_4 {
  margin-left: -5.1042vw;
  margin-top: 1.4583vw;
  width: 6.3021vw;
  height: 6.3021vw;
}
.group_3 {
  margin-left: 1.4583vw;
  margin-top: 2.8646vw;
}
.space-y-48 > *:not(:first-child) {
  margin-top: 2.5vw;
}
.space-y-34 > *:not(:first-child) {
  margin-top: 1.7708vw;
}
.space-y-35 > *:not(:first-child) {
  margin-top: 1.8229vw;
}
.group_4 {
  margin-left: 3.0208vw;
  margin-top: 3.3333vw;
}
.text_3 {
  margin-top: 3.125vw;
}
.text_5 {
  margin-top: 3.5417vw;
}
.text_8 {
  margin-top: 3.0208vw;
}
.section_2 {
  margin-left: 3.75vw;
  padding: 5.4688vw 0 11.4583vw;
  background-color: #f0f0f0;
  height: 52.8646vw;
}
.section_3 {
  padding: 2.5vw 0 4.1146vw;
  background-color: #ffffff;
  width: 42.2396vw;
}
.text_4 {
  color: #000000;
  font-size: 2.3438vw;
  font-family: OpenSansRoman;
  font-weight: 700;
  line-height: 2.2396vw;
}
.group_5 {
  margin-top: 4.6875vw;
}
.space-y-10 > *:not(:first-child) {
  margin-top: 0.5208vw;
}
.font_2 {
  font-size: 1.0417vw;
  font-family: OpenSansItalic;
  line-height: 0.7813vw;
  color: #00000033;
}
.text_6 {
  margin-left: 13.75vw;
  font-style: italic;
}
.text_7 {
  line-height: 0.7552vw;
}
.section_4 {
  background-color: #000000;
  width: 15.625vw;
  height: 0.1563vw;
}
.group_6 {
  margin-top: 2.9167vw;
}
.group_7 {
  margin-top: 2.6042vw;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.4167vw;
}
.group_8 {
  margin-top: 2.3958vw;
}
.space-y-6 > *:not(:first-child) {
  margin-top: 0.3125vw;
}
.text_9 {
  line-height: 0.9896vw;
}
.button {
  margin-top: 6.3542vw;
  padding: 0.7292vw 0;
  background-color: #63003c;
  border-radius: 2.6042vw;
  width: 13.9583vw;
}
.text_10 {
  color: #ffffff;
  font-size: 1.0417vw;
  font-family: OpenSansRoman;
  font-weight: 700;
  line-height: 0.9635vw;
}